/* include import so we can use the colour style variables */
@import "style.css";

footer {
    display: flex;
    flex: row;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto 0 auto;
}

.footer-group {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

#footer-gropu1 {
    justify-content: flex-start;
}

#footer-group2 {
    justify-content: flex-end;
}

footer img {
    height: 200px;
    width: 200px;
}

#socials-list {
    display: flex;
    flex-direction: row;
}

#socials-list li {
    background-color: var(--off-white);
    height: 40px;
    width: 40px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#socials-list li:hover {
    background-color: var(--bright-purple);
}

#socials-list li a {
    line-height: 1;
}

#socials-list li a i {
    color: var(--off-black);
    font-size: 20px;
    padding: 0px;
    margin: 0px;
}

.footer-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    cursor: pointer;
}

.footer-title i {
    font-size: 20px;
}

.footer-section ul {
    list-style: none;
    padding: 20px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-section ul li a {
    text-decoration: none;
}

.footer-section ul li a p {
    font-size: 14px;
}

.footer-section ul li a p:hover {
    color: var(--bright-purple);
}

.divider {
    display: none;
}

/* tablet */
@media only screen and (max-width: 1000px) {
    footer {
         align-items: center;
    }

    #footer-group1 {
        flex-direction: column;
        align-items: center;
        flex-grow: 2;
        flex-shrink: 2;
    }
    
    #footer-group2 {
        flex-grow: 1;
        flex-shrink: 1;
    }

    .footer-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .footer-content-section {
        width: 100%;
    }
}

/* mobile */
@media only screen and (max-width: 760px) {
    footer {
        flex-direction: column-reverse;
        align-items: center;
    }

    .footer-group {
        flex-direction: column;
    }

    #footer-group1 {
        flex-direction: column-reverse;
    }

    #socials-list {
        width: 100%;
        justify-content: space-evenly;
    }

    .closed-state .footer-content-section {
        display: none !important;
    }

    .divider {
        height: 2px;
        width: 100vw;
        margin: 5px 0px 5px -20px;
        background-color: var(--off-white);
    }
}