/* include import so we can use the colour style variables */
@import "style.css";

.game-category-card {
    position: relative;
    background-color: transparent;
    border-color: var(--bright-purple);
    border-width: 4px;
    border-style: solid;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 0px;
    
    gap: 20px;
    padding: 10px;
    aspect-ratio: 1 / 1;

    overflow: hidden;
}

.game-category-card img {
    height: 50%;
    width: 50%;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: .5s ease;
    background: rgba(0, 0, 0, 0.9);

    cursor: pointer;
}

.card:hover .card-img-overlay {
    opacity: 1;
}