/* This file contains global styling that all pages should have access to */
:root {
    --bright-purple: #C49ED9;
    --bright-blue: #4FD9D5;
    --dark-purple: #836096;
    --dark-blue: #228986;
    --yellow: #E2B93B;
    --red: #EB5757;
    --off-black: #141414;
    --pure-black: #000000;
    --off-white: #FCFCFC;
    --pure-white: #FFFFFF;
    --dark-grey: #858585;
    --light-grey: #F9F9F9;
}

body {
    background-color: var(--off-black);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Righteous', cursive;
    color: var(--off-white);
    margin-bottom: 0rem;
}

p, a, i, button {
    font-family: 'Quicksand', sans-serif;
    color: var(--off-white);
    margin-bottom: 0rem;
}

a {
    text-decoration: underline;
}

a:hover {
    color: var(--bright-purple)
}

i {
    font-size: 40px;
}

.homepage-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homepage-section-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
    gap: 40px;
    text-align: center;
    max-width: 1200px;
}

.homepage-section-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.button-primary {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: var(--bright-blue);
    border-color: var(--dark-blue);
    border-width: 2px;
    border-style: solid;
    border-radius: 100px;
    color: var(--off-black);
    padding: 10px 20px;
}

.button-primary:hover {
    background-color: var(--dark-blue);
}

.find-gm-section {
    background-color: var(--dark-purple);
}

.find-table-section {
    background-color: var(--pure-black);
}

/* mobile */
@media only screen and (max-width: 760px) {
    .homepage-section-contents {
        padding: 80px 40px 80px 40px;
    }
    .homepage-section-row {
        flex-direction: column;
    }
}